@charset "utf-8";

html{
    width:100%;

}

body {
    margin: 0px;   
    font-size: 11px;
    /*font-family: 'Exo', sans-serif;*/
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana,Arial,Helvetica,sans-serif;
    width:100%;
    background-color: #191818;    
}


p {
    margin: 0px;
}

h1 {
    color: #28292A;
    font-weight: bold;
}

label{
    color:#3D85FE; /*#60A0E6*/
    font-weight: normal;
    font-size:14px;
}

input{
    /*font-family: 'Exo', sans-serif;*/
    padding-left: 10px;
    padding-right: 10px;
    height: 29px;
    line-height: 28px;
    border:none;
}

input[type="radio"]{    
    height: 15px;    
}



button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
        border: none;
}

*:focus {
    outline: none;
}



#background {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}



/*** DIVS ***/

.divLoginFranja{
    background: url("../imagenes/login/fondoLogin.png") repeat-x;
    position: relative;
    top:130px;
    height: 350px;
    padding-top: 50px;
    text-align: left;
}

.divLoginLogo{
    background: url("../imagenes/login/sempat.png") no-repeat;
    background-size: 466px 108px;
    float:left;
    height: 100px;
    width: 450px;
    margin-top: 60px
}

.divLoginPanel {
    background: url("../imagenes/login/inicioLogin2.png") no-repeat;
    float:left;
    width: 376px;
    height: 214px;
    background-position: 0px -185px;
    padding: 10px;
    border:none;
    text-align: left;
    margin-left: 100px;
}

.divLoginPanel label.error {
    margin-left: 35px;
    color: #DF1D1E;
    font-size: 13px;
}

.divLoginPanel a{
    text-decoration: none;
    color: #60A0E6;
    margin-left: 12px;
    /*float: left;
    margin-top: 45px;
    */
}

.divHeader{
    background: url("../imagenes/header/fondoHeader.png") no-repeat center center;
    height: 93px;
    width: 100%;
    border-bottom: 1px solid #808080;    
    position: relative;
    background-color: #191818;
}

.divLogoHeader{
    background: url("../imagenes/header/logoHeaderSempat.png") no-repeat;
    background-size: 245px 30px;
    float:left;
    border:none;
    width: 310px;
    height: 50px;
    margin-top: 30px;
    margin-left: 65px;

}

.divDataHeader{
    float:right;
    min-width: 200px;
    height: 55px;
    color:#F8F8F8;
    margin-top: 30px;
    margin-right: 30px;
    height: 50px;
}

.divDataHeaderSub{
    float:left;
    border-right:1px solid #656B6D;
    padding-right: 12px;
}

.divDataHeaderSub a{
    text-decoration: none;
    color: #60A0E6;
}

.divExit{
    float:right;
    width:30px;
    padding-left: 12px;
    padding-top: 17px;
}

.divExit a{
    text-decoration: underline;
    color: #60A0E6;
}

.divBack{    
    height: 100%;    
    position: relative;        
}

.divBack>img{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -10px;
}

.divContent{    
    height: 100%;
    /*height: auto !important;*/
    width: 1180px;
    background-color: #FFFFFF;
    margin: 0 auto;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 0px;
}

.divGrafico{            
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.divGraficoLeft{        
    margin: 0 auto;
    margin-top: 10px;
    float:left; 
    margin-left: 30px;
    margin-bottom: 17px;
}

.divGraficoRight{        
    margin: 0 auto;
    margin-top: 10px;
    float:right; 
    margin-right: 30px;
    margin-bottom: 17px;
}

.divOpciones{
    background: url("../imagenes/fondoOpciones.png") no-repeat center center;
    width:1112px;
    height: 130px;
    margin: 25px auto;
    background-position: -4px -5px;
    padding-top: 6px; 
    padding-left: 25px;
    
}

.divOpciones label{
    font-size: 12px;    
}

.divOpcionesSub{
    float: left;
    width: 530px;
    height: 70px;
    margin-left: 30px;
    border: none;
    overflow:hidden;
}

.divSelect{
    float: left;
    border: none;
    width: 192px;
    margin-top: 6px;
    margin-right: 60px;
}

.divSelect select{
    height: 30px;
}

.divSubContenedor{
    width:1133px;
    margin: 20px auto;
}

.divPanelBusqueda{
    background: url("../imagenes/panelBusqueda.png") no-repeat center center;
    background-position: -4px -66px;
    width:1133px;
    height: 31px;
    padding-top: 13px;
}

.divPanelBusquedaBottom{
    background: url("../imagenes/panelBusqueda.png") no-repeat center center;
    background-position: -4px -190px;
    width:1133px;
    height: 18px;
    cursor: pointer;

}

.divPanelBusquedaB{
    background: url("../imagenes/panelBusqueda2.png") no-repeat center center;
    background-position: -4px -7px;
    width:1133px;
    height: 31px;
    padding-top: 13px;
}

.divPanelBusqueda label{
    margin-left: 10px;
}

.divPanelBusquedaB label{
    margin-left: 10px;
}

.divPanelBusqueda img{    
    margin-left:20px;
    height: 13px;
}

.divPanelBusquedaB img{    
    margin-left:20px;
    height: 13px;
}

.divPanelFiltros{
    background: url("../imagenes/panelBusquedaFondo.png") repeat;
    background-position: 0px 0px; 
    background-size: contain;
    width:1131px;
    height: auto;
    border: 1px solid #CECECE;
    border-top: none;
    position:relative;
}

.divPanelFiltrosB{
    background: url("../imagenes/panelBusquedaFondo.png") repeat;
    background-position: 0px 0px; 
    background-size: contain;
    width:382px;
    height: auto;
    border: 1px solid #CECECE;
    border-top: none;
    position:relative;
}

.divPanelFiltros1{
    width:1090px;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 0px;
    
}

.divPanelFiltros2{
    width:1090px;
    height: auto;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 0px;
    border-top: 1px solid #CECECE;
}

.divPanelFiltros1 div label.niveles{
    /*margin-left: 260px;*/
    font-size: 14px;
}

.divPanelFiltros1 select{
    margin-right: 18px;
    height: 25px;
}

.divPopUp{    
    background: url("../imagenes/popUp") no-repeat center center;
    background-position: -4px -83px;
    position: absolute;  
    margin-top: 50px;
    margin-left:400px;
    width: 404px; /* Definimos el ancho del objeto a centrar */
    height: 330px; /* Definimos el alto del objeto a centrar */        
    z-index: 10;
    text-align: center;
    padding-top: 15px;
    display:none;
}

.divMinHeight{
    min-height: 450px;
}







/*** SELECT ***/


select option{
    padding-left: 8px;
    border:none;
    font-size: 12px;
    /*font: 14px 'Exo', sans-serif;*/
}

.select {
    position: absolute;
    width: 158px;
    padding: 6px 24px 50px 10px;
    background: url("../imagenes/select.png") no-repeat center center;
    background-position: -5px -8px;
    overflow: hidden;
    font-weight: normal;    
    /*font-family: 'Exo', sans-serif;*/
}






.selectFiltro {
    position: absolute;
    width: 158px;
    padding: 6px 24px 50px 10px;
    background: url("../imagenes/select.png") no-repeat center center;
    background-position: -5px -8px;
    overflow: hidden;
    font-weight: normal;
    color: #3D85FE;
    /*font-family: 'Exo', sans-serif;*/
}

.selectPlaceHolder {
    position: absolute;
    width: 158px;
    padding: 6px 24px 50px 10px;
    background: url("../imagenes/select.png") no-repeat center center;
    background-position: -5px -8px;
    overflow: hidden;
    font-weight: normal;
    color: #A9A9A9;
}







/*** INPUT: TEXT ***/

.inputLogin {
    background: url("../imagenes/login/inicioLogin2.png") no-repeat;
    width: 303px;
    background-position: -35px -0px;    
}

.inputFecha {    
    background: url("../imagenes/calendarioLupa.png") no-repeat;
    background-position: -31px -170px;
    width: 70px;  
    font-size: 11px;
}

.inputFechaBtn {    
    position: absolute;
    background: url("../imagenes/calendarioLupa.png") no-repeat;
    background-position: -224px -170px;
    width: 32px;    
    height: 31px;       
}

.inputFechaBtn:active {
    background: url("../imagenes/calendarioLupa.png") no-repeat;
    background-position: -265px -170px;
}

.inputLupaBtn {
    background: url("../imagenes/calendarioLupa.png") no-repeat;
    background-position: -225px -250px;
    width: 32px;
    height: 32px;
    margin-right: 17px;
    margin-bottom: -12px;
}

.inputLupaBtn:active {
    background: url("../imagenes/calendarioLupa.png") no-repeat;
    background-position: -263px -251px;
} 

.inputFiltro{
    background: url("../imagenes/login/inicioLogin2.png") no-repeat;
    background-position: -34px -0px;
    width: 176px;
    padding-right: 5px;
}

.inputFiltroRight{
    background: url("../imagenes/login/inicioLogin2.png") no-repeat;
    background-position: -341px -0px;
    width: 7px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -4px;
    margin-right: 17px;    
}







/*** INPUT: CHECKBOX***/

.checkbox {
    width: 23px;
    height: 21px;
    background: url("../imagenes/tabla.png") no-repeat;
    background-position: -538px -94px;
    display: block;
}

.checkbox[active="false"]:hover{
    background: url("../imagenes/tabla.png") no-repeat;
    background-position: -538px -120px;
}

.checkboxChecked{
    width: 23px;
    height: 21px;
    background: url("../imagenes/tabla.png") no-repeat;
    background-position: -538px -147px;
    display: block;
}







/*** INPUT: BUTTON ***/

.btnLoginText {
    background: url("../imagenes/login/inicioLogin.png") no-repeat;
    width: 232px;
    height: 43px;
    background-position: -23px -313px;
    border:none;
}

.btnLoginText:hover {
    background: url("../imagenes/login/inicioLogin.png") no-repeat;
    background-position: -251px -313px;
}

.btnLoginText:active {
    background: url("../imagenes/login/inicioLogin.png") no-repeat;
    background-position: -495px -313px;
}

.btnLogin {
    background: url("../imagenes/botones.png") no-repeat;
    width: 170px;
    height: 45px;    
    background-position: -2px -0px;
    border:none;    
    color: #F8F8F8;
    padding-bottom: 6px;
    margin: 8px 22px 5px 0px;    
}

.btnLogin:hover {
    background: url("../imagenes/botones.png") no-repeat;
    background-position: -2px -56px;
}

.btnLogin:active {
    background: url("../imagenes/botones.png") no-repeat;
    background-position: -4px -122px;
}

.btnPlomo {
    background: url("../imagenes/popUp.png") no-repeat;
    background-position: -882px -182px;
    width: 185px;
    height: 40px;
    line-height: 43px;    
    border:none;
    /*font: 14px 'Exo', sans-serif;*/
    color: #2A2727;
    padding-bottom: 1px;      
}

/*.btnPlomo:hover {
    background: url("../imagenes/popUp.png") no-repeat;
    background-position: -647px -350px;   
}*/

.btnPlomo:active {
    background: url("../imagenes/popUp.png") no-repeat;
    background-position: -882px -242px;
}

.btnAzul {
    background: url("../imagenes/popUp.png") no-repeat;
    background-position: -1080px -182px;
    width: 185px;
    height: 40px;
    line-height: 43px;    
    border:none;
    /*font: 14px 'Exo', sans-serif;*/
    color: #F8F8F8;
    padding-bottom: 1px;      
}

/*.btnAzul:hover {
    background: url("../imagenes/popUp.png") no-repeat;
    background-position: -34px -350px;   
}*/

.btnAzul:active {
    background: url("../imagenes/popUp.png") no-repeat;
    background-position: -1080px -242px;
}

/*** TABLES ***/

.tablaForm{
    margin-top: 5px;
    margin-left: 30px;
    /*font-family: 'Exo', sans-serif;*/
    width:335px;
}

.tablaForm tr th{
    color: #4A94E4;
    text-align: left;
    padding-bottom: 5px;

}

.tablaForm tr th.welcome{
    padding-left: 15px;
    font-size: 14px;
}

.tablaForm tr td{
    color: #60A0E6;
    font-size: 13px;
    height: 32px;
    text-decoration: none;
}

/*.tablaForm tr td.error{
    padding-left: 13px;
    height: 25px;
    color: #DF1D1E;
}*/





.tablaMenu{
    width:auto;
    margin-left: 28px;
    margin-right: 28px;
    /*margin: 0px auto;*/
}

.tablaMenu thead tr th{
    height: 33px;
    border:none;
    cursor: pointer;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
}

.tablaMenu thead tr th a{
    /*font: 14px 'Exo', sans-serif;*/
    color: #2A2727;
    text-decoration: none;     
}

.tablaMenu thead tr th a.labelSelect{    
    color: #F8F8F8;    
}

.tablaMenu thead tr th.thLeft{
    background: url("../imagenes/botonesMenu.png") no-repeat;
    background-position: -3px -22px;
    width: 228px;
}

.tablaMenu thead tr th.thLeft:hover{
    background: url("../imagenes/botonesMenu.png") no-repeat;
    background-position: -3px -92px;
}

.tablaMenu thead tr th.thCenter{
    background: url("../imagenes/botonesMenu.png") no-repeat;
    background-position: -11px -22px;
    width: 222px;
}

.tablaMenu thead tr th.thCenter:hover{
    background: url("../imagenes/botonesMenu.png") no-repeat;
    background-position: -10px -92px;
}


.tablaMenu thead tr th.thRight{
    background: url("../imagenes/botonesMenu.png") no-repeat;
    background-position: -1287px -22px;
    width: 228px;
}

.tablaMenu thead tr th.thRight:hover{
    background: url("../imagenes/botonesMenu.png") no-repeat;
    background-position: -1287px -92px;
}

.tablaMenu thead tr th.thLeftSelect{
    background: url("../imagenes/botonesMenu.png") no-repeat;
    background-position: -4px -148px;
    width: 228px;
    color:#F8F8F8;
}

.tablaMenu thead tr th.thCenterSelect{
    background: url("../imagenes/botonesMenu.png") no-repeat;
    background-position: -9px -148px;
    width: 222px;
    color:#F8F8F8;
}

.tablaMenu thead tr th.thRightSelect{
    background: url("../imagenes/botonesMenu.png") no-repeat;
    background-position: -1285px -148px;
    width: 228px;
    color:#F8F8F8;
}

.tablaMenu tbody tr td{
    height: 25px;
    /*font: 11px 'Exo', sans-serif;*/
    color: #2A2727;
    border:none;    
    text-align: center;
    position: reltive;    
}

.tablaMenu tbody tr td.tdSubMenuLeft{
    background: url("../imagenes/botonesSubMenu.png") no-repeat;
    background-position: 3px -13px;
    z-index:2;
}

.tablaMenu tbody tr td.tdSubMenuCenter{
    background: url("../imagenes/botonesSubMenu.png") no-repeat;
    background-position: -3px -13px;    
}

.tablaMenu tbody tr td.tdSubMenuRight{
    background: url("../imagenes/botonesSubMenu.png") no-repeat;
    background-position: -3px -13px; 
}

.tablaMenu tbody tr td a{
    text-decoration: none;
    color: #2A2727;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 5px;
}

.tablaMenu tbody tr td a.aSelect{
    color: #3D85FE;
}




.tablaValores{
    width:auto;
    margin-left:15px;
    margin-right:15px;
    margin-bottom: 30px;
}

.tablaValores thead tr th{
    color:#F8F8F8;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    height: 28px;
    border:0px;
    padding: 0px;
}

.tablaValores thead tr td{
    background: url("../imagenes/tabla.png") repeat-x;
    background-position: -7px -130px;
    color:#2A2727;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    height: 25px;
    border:1px solid #AEAEAE;
    border-left: none;
}

.tablaValores thead tr td.left{
    border-left:1px solid #AEAEAE;
}

.tablaValores thead tr td.clear{
    background: none;
    border: none;
    min-width: 0px;
    width: 10px;
}





.tablaValores tbody tr td{
    color:#2A2727;
    font-size: 10px;
    font-weight: normal;
    height: 23px;
    border-right:1px solid #AEAEAE;
    border-bottom:1px solid #AEAEAE;
    width: 60px;
    text-align: right;
    padding-right: 3px;
}

.tablaValores tbody.indicadores tr td{
    color:#2A2727;
    font-size: 10px;
    font-weight: normal;
    height: 23px;
    border-right:1px solid #AEAEAE;
    border-bottom:1px solid #AEAEAE;    
    text-align: right;
    width: 73px;
}




.tablaValores tbody.indicadores tr td.clearColspan{    
    border-right: none;
    width:10px;    
    height: 8px;
}

.tablaValores tbody.indicadores tr td.clearColspanBottom{    
    border-bottom: none;
    border-right: none;
    width:10px;
    height: 8px;
}

.tablaValores tbody.indicadores tr.nivel1 td.nivel1{
    text-align: left;
    border-left:none;    
    width:100px;
}

.tablaValores tbody.indicadores tr.nivel2 td.nivel2{
    text-align: left;
    padding-left: 5px;
    border-left:none;    
    width:95px;
}

.tablaValores tbody.indicadores tr.nivel3 td.nivel3{
    text-align: left;
    padding-left: 10px;
    border-left:none;    
    width:90px;
}

.tablaValores tbody.indicadores tr.nivel4 td.nivel4{
    text-align: left;
    padding-left: 15px;
    border-left:none;    
    width:85px;
}

.tablaValores tbody.indicadores tr.nivel5 td.nivel5{
    text-align: left;
    padding-left: 20px;
    border-left:none;
    width:80px;
}


.tablaValores tbody.indicadores tr.nivelTotal td.nivelTotal{
    text-align: left;
    padding-left: 5px;
    border-left:none;
}


.tablaValores tbody tr td.check{
    text-align: center;    
    padding-left: 2px;    
    border-right:none;
    border-left:1px solid #AEAEAE;
    margin-right: 0px; 
    width:20px;
}

.tablaValores tbody tr td.left{
    border-left:1px solid #AEAEAE;
}

.tablaValores tbody tr td.positivo{
    color: #4169E1; /*#1E90FF;*/
}

.tablaValores tbody tr td.negativo{
    color: #DF1D1E;
}

.tablaValores tbody tr.nivel1 td{
    /*background: url("../imagenes/tabla.png") repeat-x;
    background-position: -266px -100px;*/
    background-color: #FFFFFF;
}

.tablaValores tbody tr.nivel1 td.nivel1{
    text-align: left;
    border-left:none;    
    width:100px;
}

.tablaValores tbody tr.nivel1 td.clear{
    background: transparent;
    border:none;
    min-width: 0px;
    width: 10px;
}

.tablaValores tbody tr.nivel2 td{
    /*background: url("../imagenes/tabla.png") repeat-x;
    background-position: -266px -131px;*/
    background-color: #F5F5F5;
}

.tablaValores tbody tr.nivel2 td.nivel2{
    text-align: left;
    padding-left: 5px;
    border-left:none;    
    width:95px;
}

.tablaValores tbody tr.nivel2 td.clear{
    background: transparent;
    border:none;
    min-width: 0px;
    width: 10px;
}

.tablaValores tbody tr.nivel3 td{
    /*background: url("../imagenes/tabla.png") repeat-x;
    background-position: -266px -167px;*/
    background-color: #EBEBEB;
}

.tablaValores tbody tr.nivel3 td.nivel3{
    text-align: left;
    padding-left: 10px;
    border-left:none;    
    width:90px;
}

.tablaValores tbody tr.nivel3 td.clear{
    background: transparent;
    border:none;
    min-width: 0px;
    width: 10px;
}

.tablaValores tbody tr.nivel4 td{
    /*background: url("../imagenes/tabla.png") repeat-x;
    background-position: -266px -203px;*/
    background-color: #E1E1E1;
}

.tablaValores tbody tr.nivel4 td.nivel4{
    text-align: left;
    padding-left: 15px;      
    width:85px;
}

.tablaValores tbody tr.nivel4 td.clear{
    background: transparent;
    border:none;
    min-width: 0px;
    width: 10px;
}

.tablaValores tbody tr.nivel5 td{
    /*background: url("../imagenes/tabla.png") repeat-x;
    background-position: -266px -238px;*/
    background-color: #D7D7D7;
}

.tablaValores tbody tr.nivel5 td.nivel5{
    text-align: left;
    padding-left: 20px;
    border-left:none;
    width:80px;
}

.tablaValores tbody tr.nivel5 td.clear{
    background: transparent;
    border:none;
    min-width: 0px;
    width: 10px;
}

.tablaValores tbody tr.nivelTotal td{
    /*background: url("../imagenes/tabla.png") repeat-x;
    background-position: -266px -274px;*/
    background-color: #B8CFEB;
    font-weight: bold;
}

.tablaValores tbody tr.nivelTotal td.nivelTotal{
    text-align: left;
    padding-left: 5px;
    border-left:none;
}

.tablaValores tbody tr.nivelTotal td.clear{
    background: transparent;
    border:none;
    min-width: 0px;
    width: 10px;
}

.divThLeft{
    background: #FFFFFF url("../imagenes/tabla.png") no-repeat;
    background-position: -5px -5px;
    height:28px;
    width:5px;
    float: left;
    position: absolute;
}

.divThCenter{
    background: url("../imagenes/tablaTh.png") repeat-x;
    background-position: -10px -0px;
    padding-top: 7px;
    height:21px;
    width:100%;
    float: left;
}

.divThRight{
    background: #FFFFFF url("../imagenes/tabla.png") no-repeat;
    background-position: -595px -5px;
    height:28px;
    width:5px;
    float: right;
    margin-top: -28px;
}

.tablaNiveles tbody tr td{    
    font-size: 10px;    
}

.tablaNiveles tbody tr td.desc{    
    width:180px   
}

.tablaNiveles tbody tr td div{        
    width: 20px;
    height: 10px;
    border: 1px solid #888888;
}

.tablaNiveles tbody tr td div.nivel1{        
    /*background: url("../imagenes/tabla.png") repeat-x;
    background-position: -266px -100px;*/
    background-color: #FFFFFF;
}

.tablaNiveles tbody tr td div.nivel2{        
    /*background: url("../imagenes/tabla.png") repeat-x;
    background-position: -266px -131px;*/
    background-color: #F5F5F5;
}

.tablaNiveles tbody tr td div.nivel3{        
    /*background: url("../imagenes/tabla.png") repeat-x;
    background-position: -266px -167px;*/
    background-color: #EBEBEB;
}

.tablaNiveles tbody tr td div.nivel4{        
    /*background: url("../imagenes/tabla.png") repeat-x;
    background-position: -266px -203px;*/
    background-color: #E1E1E1;
}

.tablaNiveles tbody tr td div.nivel5{        
    /*background: url("../imagenes/tabla.png") repeat-x;
    background-position: -266px -238px;*/
    background-color: #D7D7D7;
}

.tablaSalidas{
    margin-top:5px;
}

.tablaSalidas tbody tr td.salida{
    min-width:136px;
    font-size: 12px;
}

.tablaExtracciones{
    width:auto;
    margin-left:25px;
    margin-right:25px;
    margin-bottom: 30px;
}

.tablaExtracciones thead tr th{
    color:#F8F8F8;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    height: 28px;    
    padding: 0px;
}

.tablaExtracciones tbody tr td{    
    padding: 3px 15px; 
    font-size: 12px;

}

.tablaExtracciones tbody tr td a{
    color:#3D85FE;

}

.tablaExtracciones tbody tr:nth-child(even) { 
    background: #DCDCDC;
}

.tablaExtracciones tbody tr:nth-child(odd) { 
    background: #F8F8F8;
}


#divProgressBar{
    width: 405px;
    margin: 40px auto;
    text-align: center;
}

#progressBar {
    width: 400px;
    height: 22px;
    border: 1px solid #111;
    background-color: #292929;
    
}

#progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #60A0E6;
}


#tdResumen{
    width: 475px;
    font-size: 10px;
    padding-right: 20px;
}

#tdResumen center{
    padding-top:5px;
    font-size: 11px;
}


#divMensaje{    
    float:left; 
    margin-left: 400px; 
    margin-top: 25px; 
    margin-bottom: 15px; 
    display:none; 
    color:red;    
    
}

#divMensajeFechas{            
    margin-left: 5px;
    margin-top: 15px;     
    display:none; 
    color:red    
}


.tablaIndicadores{
    width:auto;
    margin-left:15px;
    margin-right:15px;
    margin-bottom: 30px;
}

.tablaIndicadores{
    width:auto;
    margin:15px auto;    
}


.tablaIndicadores thead th{
    color: #FFFFFF;
    background-color: #72A8ED;
    height: 25px;
    border:1px solid #0062ff;
    border-left:none;
    font-weight: normal;
}


.tablaIndicadores thead th.s_top{
    border-top:none;
}

.tablaIndicadores thead th.left{
    border-left:1px solid #0062ff;
}

.tablaIndicadores tbody td{  
    padding: 5px;
    height: 15px;
    border:1px solid #cecece;
    border-left:none;
    font-weight: normal;
    font-size: 10px;
    background-color: #F5F5F5
}

.tablaIndicadores tbody td.n{  
    font-weight: bold;
}

.tablaIndicadores tbody tr td.left{
    border-top:none;
    border-left:1px solid #cecece;
    border-top:1px solid #cecece;
}

.tablaIndicadores tbody tr.s_top td{        
    border-top:none;
}

.tablaIndicadores tbody tr.n td{        
    font-weight: bold;
    background-color: #E1E1E1;
}

.tablaIndicadores tbody tr td.espacio{
    height: 0px;
    border:none;
    background-color: #FFFFFF;
}

.tablaIndicadores tbody td.f5{  
    background-color: #F5F5F5
}

.tablaIndicadores tbody tr td.positivo{
    color: #4169E1; /*#1E90FF;*/
    text-align: right;
}

.tablaIndicadores tbody tr td.negativo{
    color: #DF1D1E;
    text-align: right;
}