﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <META HTTP-EQUIV="Expires" CONTENT="Mon, 26 Jul 1980 05:00:00 GMT">
            <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
                <meta http-equiv="expires" content="0">
                    <title>   SEMPAT   </title>
 
                    <script type="text/javascript" src="../../scripts/jquery-1.8.3.js"></script>
                    <script type="text/javascript" src="../../scripts/jquery.min.js"></script>
                    <script type="text/javascript" src="../../scripts/fsmpt_v2_0.js"></script>
                    <script type="text/javascript" src="../../scripts/customFormElements.js"></script>                                        
                    <script type="text/javascript" src="../../scripts/SEMPAT_highcharts.src.js"></script>
                    <script type="text/javascript" src="../../scripts/SEMPAT_exporting.src.js"></script>                                                                                
                    <script type="text/javascript" src="../../scripts/jquery.tokeninput.js"></script>
                    <script type="text/javascript" src="../../scripts/masked.min.js"></script>
                    <script type="text/javascript" src="../../scripts/mensaje.min.js"></script>
                                                      
                    <link rel="stylesheet" type="text/css" href="../../css/SEMPAT_style.css" media="screen" />
                    <!--<link rel="stylesheet" type="text/css" href="../css/SEMPAT_letter.css" media="screen" />-->
                    <link rel="stylesheet" type="text/css" href="../../css/token-input-facebook.css" media="screen" />
                    <link rel="stylesheet" type="text/css" href="../../css/mensaje.css" media="screen" />
                                                                                                                      
                    <!--Calendario-->
                    
                    <link href="../../scripts/calendario/css/jscal2.css" rel="stylesheet" type="text/css" />
                    <link href="../../scripts/calendario/css/border-radius.css" rel="stylesheet" type="text/css" />
                    <link href="../../scripts/calendario/css/win2k/win2k.css" rel="stylesheet" type="text/css" />
                    
                    <script src="../../scripts/calendario/js/jscal2.js" type="text/javascript"></script>
                    <script src="../../scripts/calendario/js/lang/es.js" type="text/javascript"></script>
 
					<link rel="icon" type="image/png" href="favicon.png" />
					 
                    <!--<link rel="stylesheet" type="text/css" href="../css/SEMPAT_letter.css" media="screen" />-->
                    
                        <body>

                            <div class="divBack">

                                <img src="../../imagenes/fondoDegrade.png" />

                                <div class="divHeader">

                                    <center>

                                        <div style="width:1180px;">

                                            <div class="divLogoHeader">

                                            </div>

                                            <div class="divDataHeader">

                                                <div class="divDataHeaderSub">
                                                    <img title="" alt="" src="../../imagenes/header/iconoUsuario.png" style="z-index:-10"> Hola, <a href="#">{USUARIO}</a>
                                                        <br>{FECHA}

                                                </div>

                                                <div class="divExit">
                                                    <a href="../../index.php">Salir</a>
                                                </div>

                                            </div>

                                        </div>

                                    </center>

                                </div>
                            

                            <div class="divContent">