﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <META HTTP-EQUIV="Expires" CONTENT="Mon, 26 Jul 1980 05:00:00 GMT">
            <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
                <meta http-equiv="expires" content="0">
                    <title>  SEMPAT  </title>         
                    
                    <script type="text/javascript" src="scripts/jquery-1.8.3.js"></script>                    
                    <script type="text/javascript" src="scripts/fsmpt_v1_0.js"></script>

                    <link rel="stylesheet" type="text/css" href="css/SEMPAT_style.css" media="screen" />
                    <link rel="stylesheet" type="text/css" href="css/SEMPAT_letter.css" media="screen" />   
					
                    <link rel="icon" type="image/png" href="favicon.png" />
					  
                    <html>
                        
                        <body>

                                
